/* 헤더 영역 */
body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  background-color: #00aef0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.logo img {
  height: 30px;
  margin-right: -4px;
}

.logo-text {
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
  font-weight: bold;
}

.nav a .fa-heart {
  font-size: 18px;
}
.heart-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
}

.heart-link:hover {
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 30%;
}

.heart-link .fa-heart {
  font-size: 18px;
}

.heart-link:hover .fa-heart {
  color: #000000;
}

.login-button {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 13px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  /* display: none; */
}

.login-button i {
  margin-right: 5px;
}

.login-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.mypage-button {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 13px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  display: none;
}

.mypage-button i {
  margin-right: 5px;
}

.mypage-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

