body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header {
    background-color: #00aef0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.logo img {
    height: 30px;
    margin-right: -4px;
}

.logo-text {
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

.nav a .fa-heart {
    font-size: 18px;
}

.login-button {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 13px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.login-button i {
    margin-right: 5px;
}

.login-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

/* λ©”μΈ */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 200px);
    text-align: center;
}

.main-content h1 {
    color: #00aef0;
    font-size: 24px;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 16px;
    margin-bottom: 30px;
}

.main-content a {
    text-decoration: none;
    color: white;
    background-color: #00aef0;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
}

.main-content a:hover {
    background-color: #008fcc;
}

/* ν‘Έν„° */
footer {
    background-color: #f9f9f9;
    padding: 40px 0;
    font-size: 14px;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-section h4 {
    margin-bottom: 15px;
    color: #333;
}

.footer-section p {
    margin: 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.contact-button {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    border: 1px solid #ccc;
    padding: 10px 20px;
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.contact-button i {
    font-size: 24px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.footer-links li a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.footer-bottom p {
    color: #777;
}